<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><% settings.appname %></title>
<link rel="stylesheet" href="<% request.uri_base %>/bootstrap-3.2.0/css/bootstrap.css" />

<link rel="stylesheet" href="<% request.uri_base %>/css/theme.css" />

<script src="<% request.uri_base %>/javascripts/jQuery/1.11.1/jquery.min.js"></script>
</head>
<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><% settings.appname %></a>
        </div>
        <div class="navbar-collapse collapse">
		
          <ul class="nav navbar-nav">
            <li class="active"><a href="<% request.uri_base %>">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	     <% IF session.user %>
	     <li class="active"><a href="#">Action1</a></li>
	     <li><a href="#">Action2</a></li>
	     <% ELSE %>
	     <li><a href="<% request.uri_base %>/user/login">Log in</a></li>
	     <% END %>
<% IF session.user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <% session.user.name |html %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="<% request.uri_base %>/user/logout">Log '<%session.user.name |html %>' out</a></li>
              </ul>
            </li>
<% END %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<% IF flash.error %>
<div id="msg_error" class="alert alert-danger"><a class="close" data-dismiss="alert" href="#">×</a><% flash.error | html %> </div>
<% END %>
<% IF flash.message %>
<div id="msg_message" class="alert"><a class="close" data-dismiss="alert" href="#">×</a><% flash.message |html %> </div>
<% END %>
<% IF flash.success %>
<div id="msg_success" class="alert alert-success"><a class="close" data-dismiss="alert" href="#">×</a><% flash.success |html %> </div>
<% END %>

<% content %>

<footer id="footer" class="col-md-11">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
Using <a href="http://glyphicons.com/">Glyphicons</a> and <a href="http://getbootstrap.com/">Bootstrap</a>
</footer>
<script src="<% request.uri_base %>/bootstrap-3.2.0/js/bootstrap.js"></script>
</body>
</html>
